@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {

  font-family: 'Nanum Gothic';
}

p {
    /* font-family: "Century Gothic", 'Lato', sans-serif; */
  font-family: 'Nanum Gothic';
  }

span, code {
  /* font-family: 'snas-serif'; */
  font-family: 'Times New Roman', Times, serif;
}

button {
    text-decoration: none;
    border: none;
    background: #fff;
}

div.header {
    display:table;
    width:100%;
    max-width:100%;
}

div.title {
    display:table-row;
    line-height:1.5em;
    font-size:2em;
    white-space:nowrap;
}

.spacer h1 {
    font-size:inherit; /* Change font-size in header */
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    width:1px;
    table-layout:fixed;
    padding:15px 10px;

}

span.spacer {
    display:table-cell;
}

span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:2px;
    background:#000;
    vertical-align:middle;
    position:relative;
    top:-1px;
}

#menu-wrapper
{
	background: #fff;
}

#menu {
	overflow: hidden;
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	line-height: 100px;
	border: none;
	color: #000;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: rgba(102, 177, 241, 0.8);
}

.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;

    background: #eee;
    text-align: center;
    padding: 0 2em;
}
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
    font-size: 2rem;
    margin: 0;
    /* letter-spacing: 1rem; */
}

.et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.et-slide div {
    font-size: 1rem;
    /* letter-spacing: 0.3rem; */
    width: 100%;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;

    text-align: center;
}

.et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs h1,
    .et-slide h1 {
        font-size: 3rem;
    }
    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }
    .et-hero-tab {
        font-size: 1rem;
    }
}

iframe {
    width: 80%;
    height: 200vh;
    border: none;
}

.items {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.image_list {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

#img-url {
  width: 50vw;
}

.object-rectangle {
    position: absolute;
    border: solid 3px #ba0b93;
    z-index: 99;
}

#img1 {
  background: url("images/sample_image.png") no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-style: solid;
  border-color: black;
  margin: 20px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

#img2 {
  background: url("images/1.jpg") no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-style: solid;
  border-color: black;
  margin: 20px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

#img3 {
  background: url("images/2.jpg") no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-style: solid;
  border-color: black;
  margin: 20px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

#img4 {
  background: url("images/no_image.png") no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-style: solid;
  border-color: black;
  margin: 20px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}

#caption-sample {
  background: url("images/multi-captioning-input.jpg") no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-style: solid;
  border-color: black;
  margin: 20px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}


@media screen and (min-width: 48em){
    .preview{
        width: 50%;
    }
  
    .items{
      flex-direction: row;
    }
  }
  
  
  .demo-img-container {
    width: 100%;
    /* height: 50%; */
    max-width: 600px;
    height: auto;
    border: 0;
  }
  
  .demo-img-results {
    /* height: 400px; */
    overflow: auto;
    width: 100%;
    /* background-color: #f4f5f6; */

    background-color: #eee;
    border: 1px #747479 solid;

    max-width: 600px;
    height: 360px;
    /* background-color: #f4f5f6; */
  }
  canvas {
    height: 100%;
  }
  
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 1px 1rem;
    margin: 12px 0;
    width: 100%;
  }

  tr {
      padding: 20px;
  }
  th {
    display: table-cell;
    word-break: break-all;
    vertical-align: top;
  }

  .th-1 {
    border-bottom: 2px solid #eaebec;
    padding-bottom: 10px;
    width: 100px;
  }
  .th-2 {
    border-bottom: 2px solid #eaebec;
    padding-bottom: 10px;
  }

  #result_value {
      text-align: left;
      /* font-family: 'Times New Roman', Times, serif; */
      /* font-weight: lighter; */
  }
  
  .image {
    max-width: 100%;
  }
  
  .table {
    max-width: 100%;
    max-height: 100%;
  }
  
  .table tbody{
    overflow-y: auto;
  }
  
  .column {
    float: left;
    padding-left: .9375rem;
    padding-right: .9375rem;
  }
  
  .row {
    max-width: 90vw;
    margin-left: -.9375rem;
    margin-right: -.9375rem;
  }

.readme-image {
  width: 40vw;
}

#readme {
  text-align: left;
}

.face_rect {
  border: 3px solid red;
  z-index: 99;
  position: absolute;
}

.demo-img-container {
  position: relative;
}

.img-button-emotion {
  max-width: 100%;
}

.input-text {
  display: flex;
  max-width: 80vw;
  align-items: center;
  /* align-content: center; */
  /* justify-items: center; */
  justify-content: center;
}


#input-text-contents {
  width: 40%;
}
#result-text-area {
  width: 46%;
}