:root {
  --header-height: 100px;
  --footer-height: 30px;
}

body {
  background: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;

  align-items: center;
  /* justify-items: center; */
  /* justify-items: flex-start; */
}

.header {
  flex: 0 0 auto;
  margin-top: auto;
  padding-top: 10px;
  /* height: var(--header-height); */
}

.nav {
  display: flex;
}

.items {
  width: 80%;
  /* margin: 20px; */
  /* margin-right: 0px; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  /* align-content: flex-start; */
  align-items: center;
  /* justify-items: center; */
  /* padding: 20px; */
}

.item_thumbnail {
  position: relative;
  /* flex: 1 1 auto; */
  flex-basis: 30%;
  width: 100%;
  margin: 0px;
  /* position: relative; */
}

.item_wrapper:hover{
  transform: scale(1.1);
  border-radius: 8px; 
  box-shadow: 0 0 0 5px red inset;
}


.footer {
  display: flex;
  width: 80%;
  height: 50px;
  margin-bottom: auto;
  justify-content: flex-end;

}

.logo {
  width: 418px;
  height: 48px;
  background: #FFFFFF;
}


@media screen and (min-width: 48em){
  .preview{
      width: 50%;
  }

  .items{
    flex-direction: row;
  }
}


.demo-img-container {
  width: 100%;
  /* height: 50%; */
}

.demo-img-results {
  height: 400px;
  overflow: auto;
  width: 100%;
  background-color: #f4f5f6;
  border: 1px #747479 solid;
}

table {
  display: table;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 2px solid #eaebec;
  margin: 12px 0;
  padding: 0;
  width: 100%;
}

th {
  display: table-cell;
  word-break: break-all;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border: 0;
}

.column {
  float: left;
  padding-left: .9375rem;
  padding-right: .9375rem;
}

.row {
  max-width: none;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
}

/* 
@media only screen and (min-width: 33.75em)
div.row .items {
    margin-top: 12px;
}
*/